.Colors {
  top: -3px;
}

.Colors-no-color {
  top: -78px;
}

.Colors, .Colors-no-color {
  position: relative;
  z-index: 0;

  width: 20rem;
  height: 160px;

  margin-left: auto;
  margin-right: auto;

  background: white;

  border: 1px solid darkgray;
  border-radius: 0 0 1rem 1rem;
  -moz-border-radius: 0 0 1rem 1rem;
  -webkit-border-radius: 0 0 1rem 1rem;

  -webkit-box-shadow: 0 10px 101px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 10px 101px -5px rgba(0,0,0,0.75);
  box-shadow: 0 10px 101px -5px rgba(0,0,0,0.75);

  transition: 1s ease;
}

.Colors-text-wrapper {
  padding-left: 1rem;
}

.Colors-no-color .Colors-text-wrapper {
  padding-left: 0;
  padding-top: 100px;
}

.Colors-color-type {
  text-align: right;
}