.ColorBox {
  position: relative;
  top: -2px;
  z-index: 10;
  display: table;

  width: 480px;
  height: 480px;

  margin-left: auto;
  margin-right: auto;

  background: white;

  border: 1px solid darkgray;
  border-radius: 20px;

  -webkit-box-shadow: 10px 10px 200px -30px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 200px -30px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 200px -30px rgba(0,0,0,0.75);
}

.ColorBox-text-wrapper {
  display: table-cell;
  vertical-align: middle;
  font-size: 10rem;
}