.Footer {
  position: relative;
  bottom: -150px;
  padding: 0.75rem;

  margin-right: auto;
  margin-left: auto;
  width: 320px;

  background: white;

  text-align: center;
  font-size: 0.75rem;

  border-top:1px solid darkgray;
  border-right:1px solid darkgray;
  border-left:1px solid darkgray;
  border-radius: 1rem 1rem 0 0;
  -moz-border-radius: 1rem 1rem 0 0;
  -webkit-border-radius: 1rem 1rem 0 0;

  -webkit-box-shadow: 0 10px 101px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 10px 101px -5px rgba(0,0,0,0.75);
  box-shadow: 0 10px 101px -5px rgba(0,0,0,0.75);
}
