.Input-container {
  padding-top: 30px;
}

.Input-header {
  font-weight: bold;
  font-size: 1.17rem;
}

.Input {
  margin-top: 4px;
  padding: 5px;
  height: 20px;
  width: 200px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}